/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

#test {
    color:green;
}

.contents {
    &-wrapper {
       display:flex;
       justify-content: space-between;
    } 
}
